@import "styles/about_us.css";
@import "styles/global.css";
@import "styles/navigation.css";
@import "styles/offer.css";
@import "styles/what_we_do.css";
@import "styles/digital_design.css";
@import "styles/you_wiil_got.css";
@import "styles/brand_idenfity.css";
@import "styles/commerce.css";
@import "styles/our_team.css";
@import "styles/best_works.css";
@import "styles/contact.css";
@import "styles/contact.css";
@import "styles/button_top.css";
@media screen and (max-width:480px) {
	.container{
	max-width: 400px;
	min-width: 340px;
	margin: 0 auto;
	padding: 0 20px;
}
.vl{
	display: none;
}
    .nav{
        display:none;
    }
    .image_offer{
    	display: none;
    }
    .offer h1{
	font-family: 'Helvetica Now Display';
	font-size: 55px;
	margin-bottom: 0px;
	margin-top: 20px;
}
.we_us{
	width: 80%;
	margin-top: 100px;
}
.we_line{
	width: 150px;
}
.we_us h6{
	padding-top: 20px;
	margin: 0 auto;
	font-size: 14px;
	font-family: 'Helvetica Now Display';
	font-weight: 400;
}
.we_us h2{
	margin: 0 auto;
	font-size: 32px;
    font-weight: 700;
}
.we_us img{
display: none;
}
.we_subs{
	margin-top: 30px;
	padding-right: 800px;
}
.we_subs_main{
	font-size: 28px;
}
.we_us p{
	padding-right: 0px;
	font-size: 14px;
	line-height: 36px;
}
#myBtn {
   right: 100px; /* Place the button 30px from the right */
}
/*блок услуги*/
.what_we_do{
	margin-top: 80px;
}
.what_orange_line{
	width: 150px;
}
.what_bg{
	margin-bottom: 20px;
}
.what_bg p{
	font-size: 14px;
}
.what_bg h2{
	font-size: 32px;
}
/*диджитал*/
.digital_design{
	width: 350px;
	
}
.digital_design h2{
font-size: 28px;
margin-bottom: 0px;
}
.digital_design p{
margin-top: 0px;
font-size: 14px;
}
.digital_design img{
	width:25%;
	margin-left: 50px;
	margin-bottom: 30px;
}
.you_will_got{
height: 300px;
}
.you_will_got h2{
display: none;
}
.you_get{
	display: none;
}
.btn_position{
	margin-top: 50px;
	margin-left: 50px;
}
.you_btn_one {
	padding: 10px 25px;
	font-size: 12px;
}
/*лого*/
.brand_idenfity{
	width: 350px;
	float: left;
	margin: 0;
	color:white;
}
.brand_idenfity h2{
font-size: 28px;
}
.brand_idenfity p{
font-size: 14px;
}
.brand_idenfity img{
width:25%;
margin-left: 50px;	
margin-bottom: 30px;
}
.you_will_two{
height: 300px;
}
.you_will_two h2{
display: none;
}
.you_get_two{
	display: none;
}
.btn_position_two{
	margin-top: 50px;
	margin-left: 50px;
}
.you_btn_two {
	padding: 10px 25px;
	font-size: 12px;
}
/*Баннеры*/
.commerce{
	width: 350px;
	position: top;
	float: left;
	margin: 0;
	color:white;
}
.commerce h2{
font-size: 28px;
}
.commerce p{
font-size: 14px;
}
.commerce img{
width:25%;
margin-left: 50px;	
margin-bottom: 30px;
}
.commerce ul{
	list-style-type: none;
	margin-left: -40px;
	width: 300px;
}
.you_will_tree{
height: 300px;
}
.you_will_tree h2{
display: none;
}
.you_get_tree{
	display: none;
}
.btn_position_tree{
	margin-top: 50px;
	margin-left: 50px;
}
.you_btn_tree {
	padding: 10px 25px;
	font-size: 12px;
}
/*Портфолио*/
.best_works{
	margin-top: 100px;
}
.best_works p{
font-size: 14px;
}
.best_works h1{
font-size: 32px;
}
.best_works_orange_line{
	width: 150px;
}
.works_img_one, .works_img_two,.works_img_tree,.works_img_four{
width:  225px;
margin-left: 50px;
}
.works_img_five{
width: 330px;
}
.works_img{
	margin-top: 10px;
	margin-left: 0px;
	display: inline;
}
.works_img_one{
	margin-top: 25px;
}
.works_img_five{
	display: none;
}
.works_img_inner{
	margin-top: 0px;
}
.you_btn_adaptive {
	margin-left: 23px;
	display: inline;
	color: #FFF;
	transition: all 0.5s;
	position: relative;
	text-decoration: none;
	padding: 20px 50px;
}
.you_btn_adaptive::before {
	display: inline;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #F4692E;
	transition: all 0.3s;
}
/*Новое портфолио*/
.dws {
 position: relative;
 top: 100px;
 left:45%;
 width: 150px;
}
.dws_2 {
 position: relative;
 top: 100px;
 left: 45%;
 width: 150px;
}.dws_3 {
 position: relative;
 top: 100px;
 left: 45%;
 width: 150px;
}
.dws_4, .dws_5,.dws_6 {
	display: none;
}
.blocImg {
 width: 150px;
 height: 150px;
 overflow: hidden;
 background: #000;
 cursor: pointer;
}
.blocText {
 position: absolute;
 top: 10px;
 left: 0px;
 right: 185px;
 bottom: 10px;
}
.text h2 {
 font-size: 14px;
}
.text p {
top: 120px;
}
/*Контакты*/
.contact{
	margin-top: 80px;
}
.contact_orange_line{
	width: 150px;
}
.contact p{
	font-size: 14px;
}
.contact h1{
	font-size: 32px;
}
.contact_float3{
	margin-left: 15px;
	margin-top: 96px;
	display: none;
}
.media_inner p{
	font-size: 18px;
	color: #494949;
}
.contact_float4{

	margin-right: 20px;
	margin-top: 20px;
}
}
  