.best_works{
	margin-top: 150px;
}
.best_works p{
	margin: 0 auto;
	font-size: 16px;
	font-family: 'Helvetica Now Display';
	font-weight: 400;
}
.best_works h1{
	margin: 0 auto;
	font-size: 48px;
    font-weight: 700;
}
.best_works_orange_line{
	width: 300px;
	height: 5px;
	background-color: #F4692E;
}
.works_img{
	margin-top: 50px;
	padding-left: 0;
	display: flex;
	justify-content: space-between;
}
.works_img_one{
	opacity: 0.3;
	transition: 0.5s;
}
.works_img_one:hover{
	opacity: 1;
	transition: 0.8s;
}
.works_img_two{
	opacity: 0.3;
	transition: 0.5s;
}
.works_img_two:hover{
	opacity: 1;
	transition: 0.8s;
}
.works_img_tree{
	opacity: 0.3;
	transition: 0.5s;
}
.works_img_tree:hover{
	opacity: 1;
	transition: 0.8s;
}
.works_img_inner{
	display: flex;
	justify-content: space-between;
	padding: 0;
}
.works_img_four{
	opacity: 0.3;
	transition: 0.5s;
}
.works_img_four:hover{
	opacity: 1;
	transition: 0.8s;
}.works_img_five{
	opacity: 0.3;
	transition: 0.5s;
}
.works_img_five:hover{
	opacity: 1;
	transition: 0.8s;
}
.works_img_one, .works_img_two,.works_img_tree,.works_img_four{
width:  325px;
}
.works_img_five{
width: 725px;
}
.you_btn_adaptive {
	display: none;
	color: #FFF;
	transition: all 0.5s;
	position: relative;
	text-decoration: none;
	padding: 20px 50px;
}
.you_btn_adaptive::before {
	content: '';
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #F4692E;
	transition: all 0.3s;
}
.dws {
 position: relative;
 top: 200px;
 left: 15%;
 transform: translate(-50%, -50%);
}
.blocImg {
 width: 300px;
 height: 300px;
 overflow: hidden;
 background: #000;
 cursor: pointer;
}
.blocImg img {
 width: 100%;
 transition: .5s;
}
.dws:hover .blocImg img {
 transform: rotate(0deg) scale(1.3);
 filter: blur(1px);
 opacity: .5;
}
.blocText {
 position: absolute;
 top: 30px;
 left: 30px;
 right: 30px;
 bottom: 30px;
}
.text {
 color: #fff;
 text-transform: uppercase;
 padding: 0 20px;
 opacity: 0;
 transition: .5s;
}
.text h2 {
 font-size: 25px;
}
.text h2 span {
 color: white;
 padding-bottom: 3px;
 border-bottom: 2px solid #F4692E;;
}
.text p {
 position: absolute;
 top: 180px;
 width: 250px;
 border-left: 4px solid #F4692E;
 padding: 0 10px;
}
.dws:hover .text {
 opacity: 1;
}
.blocText::before,
.blocText::after {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 transition: .5s;
}
.blocText::before {
 border-top: 1px solid #fff;
 border-bottom: 1px solid #fff;
 transform: scale(0,1);
}
.blocText::after {
 border-left: 1px solid #fff;
 border-right: 1px solid #fff;
 transform: scale(1,0);
}
.dws:hover .blocText::before,
.dws:hover .blocText::after{
 transform: scale(1,1);
}
.dws_2 {
 position: relative;
 top: 200px;
 left: 15%;
 transform: translate(-50%, -50%);
}
.dws_2:hover .blocImg img {
 transform: rotate(0deg) scale(1.3);
 filter: blur(1px);
 opacity: .5;
}
.dws_2:hover .text {
 opacity: 1;
}
.dws_2:hover .blocText::before,
.dws_2:hover .blocText::after{
 transform: scale(1,1);
}
.dws_3 {
 position: relative;
 top: 200px;
 left: 15%;
 transform: translate(-50%, -50%);
}
.dws_3:hover .blocImg img {
 transform: rotate(0deg) scale(1.3);
 filter: blur(1px);
 opacity: .5;
}
.dws_3:hover .text {
 opacity: 1;
}
.dws_3:hover .blocText::before,
.dws_3:hover .blocText::after{
 transform: scale(1,1);
}
.works_img_down{
	margin-top: 50px;
	padding-left: 0;
	display: flex;
	justify-content: space-between;
}
.dws_4 {
 position: relative;
 top: 200px;
 left: 15%;
 transform: translate(-50%, -50%);
}
.dws_4:hover .blocImg img {
 transform: rotate(0deg) scale(1.3);
 filter: blur(1px);
 opacity: .5;
}
.dws_4:hover .text {
 opacity: 1;
}
.dws_4:hover .blocText::before,
.dws_4:hover .blocText::after{
 transform: scale(1,1);
}
.dws_5 {
 position: relative;
 top: 200px;
 left: 15%;
 transform: translate(-50%, -50%);
}
.dws_5:hover .blocImg img {
 transform: rotate(0deg) scale(1.3);
 filter: blur(1px);
 opacity: .5;
}
.dws_5:hover .text {
 opacity: 1;
}
.dws_5:hover .blocText::before,
.dws_5:hover .blocText::after{
 transform: scale(1,1);
}
.dws_6 {
 position: relative;
 top: 200px;
 left: 15%;
 transform: translate(-50%, -50%);
}
.dws_6:hover .blocImg img {
 transform: rotate(0deg) scale(1.3);
 filter: blur(1px);
 opacity: .5;
}
.dws_6:hover .text {
 opacity: 1;
}
.dws_6:hover .blocText::before,
.dws_6:hover .blocText::after{
 transform: scale(1,1);
}
