/*шрифт при выделении*/::selection {background: #FF8540;}
::-moz-selection {background: #FF8540;}
::-webkit-selection {background: #FF8540; color:#fff;}
/*скроллбар*/::-webkit-scrollbar {
    width: 10px; /* ширина нового скроллбара */
}  
::-webkit-scrollbar-track {
    background: #0C0C0C; /* цвет фона у дорожки */
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset; /* тень у дорожки */
}
::-webkit-scrollbar-thumb {
    background: #F15512; /* цвет фона у дорожки */
    border-radius: 0px; /* скругление углов */

}

::-webkit-scrollbar-thumb:hover {
    background: #b91414; /* ползунок меняет цвет при наведении */
}                 
 /*скроллбар-конец*/    
*{
	box-sizing: border-box;
}

body {
	background-color:black;
	font-family: 'Helvetica Now Display';
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	padding: 0;
	overflow-x: hidden;
}
header{
	padding-top: 50px;
}
a {
	color: white;
}
h1, h2, h3, h4, h5, h6 {
	color: white;
}
p{
	color: white;

}
.container{
	max-width: 1110px;
	margin: 0 auto;
	padding: 0 10px;
}

.container_line{
	width: 1110px;
	margin: 0 auto;
}

.vl {
    border-left: 1px solid #1D1D1D;
    height: 4420px;
    position: absolute;
    left: 86.5%;
    display: none;
}
.vl_two {
    border-left: 1px solid #1D1D1D;
    height: 4420px;
    position: absolute;
    display: none;

}

@media screen and (min-width:667px) {

    .hamburger-menu{
        display:none;
    }
}